<div class="container">
  <div class="row">
    <div class="col-md-12">
      <mat-spinner *ngIf="showSpinner" class="mx-auto"></mat-spinner>
      <mat-card class="res-card" style="margin: 20px auto;" *ngIf="restaurant">
        <div class="row">
          <div class="col-6">
            <mat-card-header>
              <mat-card-title class="contact mb-2 font-weight-bold">Contacts</mat-card-title>
            </mat-card-header>
            <hr>
            <mat-card-content>
              <span class="text-muted">RESTAURANT NAME</span>
              <h3 class="text-uppercase ml-2">{{restaurant.name}}</h3>

              <span class="text-muted">EMAIL</span>
              <h4 class="ml-2">{{restaurant.email}}</h4>

              <span class="text-muted">PHONE NUMBER</span>
              <h4 class="ml-2">{{restaurant.mobile}}</h4>

              <span class="text-muted">ADDRESS</span>
              <h4 class="ml-2">{{restaurant.address}}</h4>

              <span class="text-muted">RESTAURANT TYPE</span>
              <h4 class="ml-2">{{restaurant.types}}</h4>
            </mat-card-content>
          </div>
          <div class="col-6">
            <img src="https://i.insider.com/596e3d09dde1891cc024878f?width=750&format=jpeg&auto=webp" class="img-fluid"
              alt="">
          </div>
        </div>
        <mat-card-actions class="text-center p-3">
          <button mat-raised-button color="accent" class="mr-3" (click)="showEdit()" *ngIf="userService.LoggedIn()">
            Edit </button>
          <button mat-raised-button color="warn" (click)="deleteRestaurant()"
            *ngIf="userService.LoggedIn()">Delete</button>
        </mat-card-actions>
      </mat-card>


      <mat-card class="example-card" style="margin: 20px auto;" *ngIf="showform">
        <mat-card-header>
          <mat-card-title>Edit Listing</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form [formGroup]="editForm" (ngSubmit)="editRestaurant()" class="form mt-3">
            <div class="input-group mb-4">
              <div class="input-group-prepend">
                <div class="input-group-text">Restaurant Name</div>
              </div>
              <input type="text" class="form-control" id="inlineFormInputGroup" formControlName="name"
                [(ngModel)]="restaurant.name" />
            </div>

            <div class="input-group mb-4">
              <div class="input-group-prepend">
                <div class="input-group-text">Email</div>
              </div>
              <input type="text" class="form-control" id="inlineFormInputGroup" formControlName="email"
                [(ngModel)]="restaurant.email" />
            </div>

            <div class="input-group mb-4">
              <div class="input-group-prepend">
                <div class="input-group-text">Mobile</div>
              </div>
              <input type="text" class="form-control" id="inlineFormInputGroup" formControlName="mobile"
                [(ngModel)]="restaurant.mobile" />
            </div>
            <div class="input-group mb-4">
              <div class="input-group-prepend">
                <div class="input-group-text">Address</div>
              </div>
              <input type="text" class="form-control" id="inlineFormInputGroup" formControlName="address"
                [(ngModel)]="restaurant.address" />
            </div>
            <div class="input-group mb-4">
              <div class="input-group-prepend">
                <div class="input-group-text">Type</div>
              </div>
              <input type="text" class="form-control" id="inlineFormInputGroup" formControlName="types"
                [(ngModel)]="restaurant.types" />
            </div>
            <button type="submit" mat-raised-button class="btn btn-success mt-3 btn-block rounded-pill"
              [disabled]="!editForm.valid">
              Edit Listing
            </button>
          </form>
        </mat-card-content>
      </mat-card>

    </div>
  </div>
</div>
