<mat-spinner *ngIf="showSpinner" class="mx-auto"></mat-spinner>
<mat-card class="res-card" style="margin: 30px auto;" *ngIf="restaurant">
      <div class="row">
        <div class="col-6">
          <mat-card-header>
            <mat-card-title class="contact mb-4 font-weight-bold">Contacts</mat-card-title>
          </mat-card-header>
          <hr>
          <mat-card-content>
            <span class="text-muted">RESTAURANT NAME</span>
            <h3 class="text-uppercase ml-2">{{restaurant.name}}</h3>

            <span class="text-muted">EMAIL</span>
            <h4 class="ml-2">{{restaurant.email}}</h4>

            <span class="text-muted">PHONE NUMBER</span>
            <h4 class="ml-2">{{restaurant.mobile}}</h4>

            <span class="text-muted">ADDRESS</span>
            <h4 class="ml-2">{{restaurant.address}}</h4>

            <span class="text-muted">RESTAURANT TYPE</span>
            <h4 class="ml-2">{{restaurant.types}}</h4>
          </mat-card-content>
        </div>
        <div class="col-6">
          <img src="https://i.insider.com/596e3d09dde1891cc024878f?width=750&format=jpeg&auto=webp" class="img-fluid" alt="">
        </div>
      </div>
      <mat-card-actions  class="text-center p-3">
        <button mat-raised-button color="accent"> Edit </button>
        <button mat-raised-button color="warn">Delete</button>
      </mat-card-actions>
    </mat-card>

